<div class="p-5">

    <h1 class="text-primary font-monospace"> 
        Centro de mensajes
    </h1>

    <div class="mb-3">
        <input type="email" form="form-message" class="form-control" id="email" placeholder="name@example.com" required>
    </div>
    
    <div id="messages" class="bg-dark mb-3 p-2 rounded" style="height: 250px; overflow-y: scroll;">
    </div>

    <form id="form-message" class="row">
        <div class="col-auto">
            <input type="text" class="form-control" id="text" placeholder="Ingresá un mensaje.." required>
        </div>
        <div class="col-auto">
            <input type="submit" value="Enviar" class="btn btn-primary mb-3">
        </div>
    </form>

</div>