<div class="p-5 mt-5">

    <h1 class="text-primary font-monospace"> 
        Login de Usuario
    </h1>

    <form action="/login" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Ingrese su nombre</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <input type="submit" class="btn btn-success">
    </form>

</div>