<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <main class="container is-flex is-flex-direction-column  is-align-content-center">
        <div class="notification is-danger mt-5">
            <h1 class="title">Error <%= error.auth %></h1>
            <p class="subtitle"><%= error.message %></p>
        </div>
        <a class="button is-primary" href="/<%= error.auth %>">Volver</a>
    </main>
</body>
</html>