<div class="p-5 mt-5">

    <h1 class="text-primary font-monospace"> 
        Login de Usuario
    </h1>

    <form action="/login" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Ingrese su email</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Ingrese su password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="Log In" class="btn btn-success">
    </form>

    <br>

    <a href="/signup" class="btn btn-success">Ir a Signup</a>

</div>