<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/head') %>

</head>
<body>

    <main>
        <div class="container bg-danger rounded">

            <%- include('../partials/fail') %>

        </div>
    </main>

</body>
</html>