<div class="p-5 mt-5">

    <h1 class="text-light font-monospace text-uppercase"> 
        user error <%= error.authenticate %>
    </h1>

    <br>

    <a href="/<%= error.authenticate %>" class="btn btn-warning">VOLVER</a>

</div>